{% extends "auctions/layout.html" %}

    {% block body %}
    <div style="margin:1.5vh">
        <h2> Active Employees </h2>
        <!-- change this to displaySection -->
        <form action="{% url 'displaySection' %}" method = "POST" class="my-4 ">
        {% csrf_token %}
        <div class="form-group">
            <label for="section">Sort by section type:</label>
            <select name="section" id="section">d
                 {% for section in sections %}
                    <option value="{{section}}">{{section}}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-warning">Check Section</button>
        </form>
        <button type="button" class="btn btn-info"><a href="{% url 'employees' %}" style="color:white">Show All Employees</a></button>

        </div>
        <div class="row">
         {% for employee in activeEmployees %}
        
        <div class="card border-light mb-3 text-center">
            <img style="margin-left:auto;margin-right:auto;height:25vh;" class="card-img-top" src="{{employee.imageURL}}" alt="{{employee.employeeName}}>
            <div class="card-body">
                
              <p class="card-text"><h1 style="color:rgb(0, 200, 255)">{{employee.employeeName}}</h1><br>
                <h2 style="color:green">{{employee.section}}</h2>
                {{employee.phone}}</p>
                <button type="button" class="btn btn-info"><a href="{% url 'employeePage' phone=employee.phone %}" style="color:white">Go to Page</a></button>

            </div>  
           
    {% endfor %}
    </div>
</div>
{% endblock %}  